
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="caption" style="text-align:center">
                            <h1 class="fst-italic text-lg-right">برجاء تسجيل الدخول لاتمام العملية</h1>
                            <hr />
                            <i><a style="background-color: #ffffff; color: #000000;" href="~/User/Register" class="btn btn-primary">اشترك الان</a></i>
                            <i><a style="background-color: #ffe450; color: #000000;" href="~/Login/Login" class="btn btn-light">تسجيل الدخول الي حسابك</a></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
