
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*nav-pills*@
<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a href="#Address" class="Address nav-link item-tab active" id="Address-tab" data-toggle="tab" role="tab" aria-controls="Address"
           aria-selected="true"><span class="tab-num">1- </span>اختر عنوان شحن</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#Payment" class="Payment nav-link item-tab disabled" id="Payment-tab" data-toggle="tab" role="tab" aria-controls="Payment"
           aria-selected="true"><span class="tab-num">2- </span>طريقة الدفع</a>
    </li>
    <li class="nav-item disable" role="presentation">
        <a href="#GoodsAndShipping" class="GoodsAndShipping nav-link item-tab disabled" id="GoodsAndShipping-tab" data-toggle="tab" role="tab" aria-controls="GoodsAndShipping" aria-selected="false"><span class="tab-num">3- </span> السلع والشحن</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane request-tab-pane bd-example show active" id="AddressTab" role="tabpanel" aria-labelledby="Address-tab">

    </div>

    <div class="tab-pane request-tab-pane bd-example " id="PaymentTab" role="tabpanel" aria-labelledby="Payment-tab">

    </div>

    <div class="tab-pane request-tab-pane" id="GoodsAndShippingTab" role="tabpanel" aria-labelledby="GoodsAndShipping-tab">

    </div>
</div>


<script>

    function cleartabs() {
        $('.item-tab').removeClass('active');
        $('.request-tab-pane').removeClass('active')
    }
    $(document).ready(function () {
        $(".Address").click();
    }
    );
    $("body").on("click", ".Address", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("_Address", "Payed")',
            type: 'get',
            data: {

            },
            success: function (data) {
                debugger;
                $(".Address").tab('show');
                $("#Address").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
            }
        });
    });
    $("body").on("click", ".Payment", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("_Payment", "Payed")',
            type: 'get',
            data: {

            },
            success: function (data) {
                debugger;
                $(".Payment").tab('show');
                $("#Payment").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
 }
        });
    });

    $("body").on("click", ".GoodsAndShipping", function () {
        debugger;
        $.ajax({
            url: '@Url.Action("_GoodsAndShipping", "Payed")',
            type: 'get',
            data: {

            },
            success: function (data) {
                debugger;
                $(".show").removeClass("show");
                $(".active").removeClass("active");
                $(".GoodsAndShipping").tab('show');
                $("#GoodsAndShipping").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
            }
        });
    });

</script>
