<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShop_Gp</title>
    <link rel="icon" href="~/Image/240_F_141407683_AmOuBtIH59zvyi1T9t0ZqZaMyYL0YGFY.jpg" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="~/css/toast.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/styleWall.css" rel="stylesheet" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/checkout.js"></script>
    <script src="~/js/toast.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Image/logo1.png" width="80" draggable="false" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
   
                    <form asp-controller="Home" asp-action="Search">
                        <input class="form-control" type="text" name="SearchString" placeholder="Search" />
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#212529">Products</a>
                            <ul class="dropdown-menu multi-level">
                                <li class="dropdown-item"><a href="#">Electronics</a></li>
                                <li class="dropdown-item"><a href="#">Phones</a></li>
                                <li class="dropdown-submenu dropdown">
                                    <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#212529">Household_Appliance</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                        <li class="dropdown-item"><a href="#">Action</a></li>
                                        <li class="dropdown-item"><a href="#">Action</a></li>
                                        <li class="dropdown-item"><a href="#">Action</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Cart/_Cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="~/Image/play-store.png" />
                        <img src="~/Image/app-store.png" />


                    </div>

                </div>
                <div class="footer-col-2">
                    <img src="~/Image/logo.png" width="50" />
                    <p>
                        Our Purpose Is To Sustainably Make the Pleasure and Benefits
                        of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>

                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follows us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li> Twitter</li>
                        <li>Instagram</li>
                        <li>YouTube</li>

                    </ul>
                </div>
                <hr />
                <p class="copyright">Copyright 2020 - Easy Tutorials</p>
            </div>

            &copy; 2022 - EShop_Gp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
    function Search(event ) {

        debugger;
         @*$.ajax({
            url: '@Url.Action("Search", "Home")',
            type: 'get',
            data: {
            },
            success: function (data) {
                debugger;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
            }
        });*@

    }
    </script>
</body>
</html>

